.screen {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Copperplate", "Papyrus", Fantasy;
    background-color: rgb(119, 171, 190);
}

.root {
    background-color: rgb(119, 171, 190);
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    width: 100%;
}

.logo{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.box {
    flex: 4;
    overflow-y: auto;
    text-align: center;
}

/* .input {
} */

/*.button {
    background-color:rgb(27, 130, 178)
} */

.submit {
    background-color: rgb(236, 16, 155);
    width: 15vw;
    height: 6vh;
    margin-right: 1vw;
    font-size: 3vh;
    border: 0px;
}

.again {
    background-color: skyblue;
    width: 15vw;
    height: 6vh;
    font-size: 3vh;
    border: 0px;
}

.error {
    color: red;
    font-size: 3vh;
    justify-content: center;
}

.ashwinButton{
    background-color: rgb(55, 28, 45);
    width: 8vw;
    height: 3vh;
    font-size: 20px;
    justify-content: center;
    color: white;
}

.ashwinButton:hover:before{
    transform: scale(1.0);
    box-shadow: 0 0 10px #2b2a1c;
}

.ashwinButton:hover{
    color: #f602b9;
    box-shadow: 0 0 5px #1bdc1e;
    text-shadow: 0 0 5px #37e32e;
}

